In [22]:
import requests
from bs4 import BeautifulSoup
import datetime
import re
import tempfile
import numpy as np
import pandas as pd
import xarray as xr
import cfgrib
from pathlib import Path
from sqlalchemy import create_engine
from sqlalchemy.exc import SQLAlchemyError

In [6]:
# get the current date to insert into the url
date = datetime.datetime.now().strftime("%Y%m%d")
url = f"https://nomads.ncep.noaa.gov/pub/data/nccf/com/gens/prod/gefs.{date}/00/wave/gridded/"

In [7]:
# parse the list of models
response = requests.get(url)
soup = BeautifulSoup(response.content, 'html.parser')

In [8]:
# match the average global model for all forecast hours
pattern = re.compile(r'gefs\.wave\.t00z\.mean\.global\.0p25\.f\d{3}\.grib2')
hrefs = [a.get('href') for a in soup.find_all('a', href=pattern)]

In [17]:
def grib2_url_to_dataframe(url, target):
    response = requests.get(f'{url}/{target}')
    if response.status_code == 200:
        # Use a temporary file to store the response content
        with tempfile.NamedTemporaryFile() as tmp:
            tmp.write(response.content)
            tmp.flush()

            # Open the dataset from the temporary file
            with xr.open_dataset(tmp.name, engine='cfgrib') as ds:
                # Extract the necessary data here
                data = ds.load()  # 'load' will load the data into memory
                # load to pandas dataframe
                df = data.to_dataframe()
                # drop landlocked rows
                df = df.dropna(subset=['swh'])
                # reset index
                df.reset_index(level=['latitude', 'longitude'], inplace=True)

                # Convert the timedelta to total number of hours as a string with ' hours' appended
                df['step'] = df['step'].dt.total_seconds() / 3600.0
                df['step'] = df['step'].astype(str) + ' hours'
                return df
                    
    else:
        print(f"Failed to get data: {response.status_code}")

In [18]:
target = hrefs[1]

In [23]:
table_name = 'wave_forecast'
DATABASE_URL = "postgresql://postgres:your_password@localhost:5432/surfing_data"
engine = create_engine(DATABASE_URL)

In [26]:
test_df.head()

,latitude,longitude,time,step,surface,valid_time,swh,perpw,dirpw,shww,mpww,wvdir,ws,wdir,swell,swper
0,82.0,57.750003,2023-11-25,3.0 hours,0.0,2023-11-25 03:00:00,0.11,1.62,242.419998,0.10,1.62,242.199997,4.15,251.960007,NaN,NaN
1,82.0,58.250003,2023-11-25,3.0 hours,0.0,2023-11-25 03:00:00,0.11,1.62,242.419998,0.10,1.62,242.199997,4.18,247.479996,NaN,NaN
2,82.0,339.750015,2023-11-25,3.0 hours,0.0,2023-11-25 03:00:00,0.06,1.73,5.160000,0.04,1.12,3.130000,1.86,37.130001,0.02,0.56
3,82.0,340.250015,2023-11-25,3.0 hours,0.0,2023-11-25 03:00:00,0.10,2.10,23.809999,0.05,0.88,10.080000,1.83,85.099998,0.06,1.22
4,82.0,340.500015,2023-11-25,3.0 hours,0.0,2023-11-25 03:00:00,0.10,2.16,17.459999,0.05,1.05,8.860000,1.91,83.860001,0.06,1.25

In [ ]:
def save_dataframe_to_db(df, engine, table_name):
    with engine.begin() as connection:  # Automatically handles transactions
        try:
            df.to_sql(table_name, con=connection, if_exists='append', index=False)
        except SQLAlchemyError as e:
            print(f"An error occurred: {e}")