In [2]:
import requests
import pandas as pd
from io import StringIO

## Buoy Data

Links to 
- [Buoy Map](https://www.ndbc.noaa.gov/)
- [NDBC Station List](https://www.ndbc.noaa.gov/to_station.shtml)
- [Request protocols](https://www.ndbc.noaa.gov/faq/rt_data_access.shtml)

The available data types are:

- txt for standard meteorological data
- drift for meteorological data from drifting buoys
- cwind for continuous winds data
- spec for spectral wave summaries
- data_spec for raw spectral wave data
- swdir for spectral wave data (alpha1)
- swdir2 spectral wave data (alpha2)
- swr1 for spectral wave data (r1)
- swr2 for spectral wave data (r2)
- adcp for Acoustic Doppler Current Profiler
- ocean for oceanographic data
- tide for tide data

In [3]:
data_types = ["txt", "drift", "cwind", "spec", "dataspec", "swdir", "swdir", "swdir2", "swr1", "swr2", "adcp", "ocean", "tide"]

In [4]:
buoy_num = 44099 # Cape Henry Va active SCRIPPS buoy

In [5]:
res = requests.get(f"https://www.ndbc.noaa.gov/data/realtime2/{buoy_num}.txt")

In [6]:
print(res.content.decode("utf-8")[:500])

#YY  MM DD hh mm WDIR WSPD GST  WVHT   DPD   APD MWD   PRES  ATMP  WTMP  DEWP  VIS PTDY  TIDE
#yr  mo dy hr mn degT m/s  m/s     m   sec   sec degT   hPa  degC  degC  degC  nmi  hPa    ft
2024 02 21 21 56  MM   MM   MM   2.0     9   5.9 110     MM    MM   6.9    MM   MM   MM    MM
2024 02 21 21 26  MM   MM   MM   1.8     9   5.7 110     MM    MM   6.9    MM   MM   MM    MM
2024 02 21 20 56  MM   MM   MM   1.9     8   5.7 104     MM    MM   6.9    MM   MM   MM    MM
2024 02 21 20 26  MM   MM   MM

Decode to utf-8 and replace missing with NaN

In [7]:
data_io = StringIO(res.content.decode('utf-8').replace("MM", "NaN"))

Parse to dataframe, skipping initial comment lines

In [8]:
df = pd.read_csv(data_io, sep="\s+", header=0, skiprows=[1])

In [9]:
df.head()

,#YY,NaN,DD,hh,mm,WDIR,WSPD,GST,WVHT,DPD,APD,MWD,PRES,ATMP,WTMP,DEWP,VIS,PTDY,TIDE
0,#yr,mo,dy,hr,mn,degT,m/s,m/s,m,sec,sec,degT,hPa,degC,degC,degC,nmi,hPa,ft
1,2024,02,21,21,56,NaN,NaN,NaN,2.0,9,5.9,110,NaN,NaN,6.9,NaN,NaN,NaN,NaN
2,2024,02,21,21,26,NaN,NaN,NaN,1.8,9,5.7,110,NaN,NaN,6.9,NaN,NaN,NaN,NaN
3,2024,02,21,20,56,NaN,NaN,NaN,1.9,8,5.7,104,NaN,NaN,6.9,NaN,NaN,NaN,NaN
4,2024,02,21,20,26,NaN,NaN,NaN,1.8,7,5.5,87,NaN,NaN,6.9,NaN,NaN,NaN,NaN