In [1]:
from noaa_coops import Station, get_stations_from_bbox
from pprint import pprint
from mpl_toolkits.basemap import Basemap
import matplotlib.pyplot as plt

In [2]:
chesapeake_channel = Station(id="8638901")

In [3]:
chesapeake_channel.data_inventory

{'Verified High/Low Water Level': {'start_date': '2017-04-19 21:00',
  'end_date': '2023-12-31 23:54'},
 'Barometric Pressure': {'start_date': '2016-10-21 20:24',
  'end_date': '2024-02-11 01:48'},
 'Verified 6-Minute Water Level': {'start_date': '2017-04-19 21:00',
  'end_date': '2023-12-31 23:54'},
 'Verified Hourly Height Water Level': {'start_date': '2017-04-19 21:00',
  'end_date': '2023-12-31 23:00'},
 'Preliminary 6-Minute Water Level': {'start_date': '2016-10-21 20:00',
  'end_date': '2024-02-11 01:48'},
 'Wind': {'start_date': '2016-10-21 20:24', 'end_date': '2024-02-11 01:48'},
 'Verified Monthly Mean Water Level': {'start_date': '2017-05-01 00:00',
  'end_date': '2023-12-31 23:54'},
 'Air Temperature': {'start_date': '2016-10-21 20:24',
  'end_date': '2024-02-11 01:48'},
 'Water Temperature': {'start_date': '2016-10-21 20:24',
  'end_date': '2024-02-11 01:48'}}

## Docs
[NOAA api ref](https://api.tidesandcurrents.noaa.gov/api/prod/#products) [NOAA api docs](https://api.tidesandcurrents.noaa.gov/api/prod/responseHelp.html)

In [4]:
df_water_levels = chesapeake_channel.get_data(
    begin_date="20240210",
    end_date="20240212",
    product="water_level",
    datum="MLLW",
    units="metric",
    time_zone="gmt")

In [5]:
df_water_levels.tail()

                         v      s        f  q
t
2024-02-11 01:24:00  1.212  0.038  0,0,0,0  p
2024-02-11 01:30:00  1.204  0.035  0,0,0,0  p
2024-02-11 01:36:00  1.210  0.044  0,0,0,0  p
2024-02-11 01:42:00  1.210  0.042  1,0,0,0  p
2024-02-11 01:48:00  1.213  0.051  0,0,0,0  p

In [6]:
df_water_levels["q"].value_counts()

p    259
Name: q, dtype: int64

In [7]:
chesapeake_channel.data_inventory

{'Verified High/Low Water Level': {'start_date': '2017-04-19 21:00',
  'end_date': '2023-12-31 23:54'},
 'Barometric Pressure': {'start_date': '2016-10-21 20:24',
  'end_date': '2024-02-11 01:48'},
 'Verified 6-Minute Water Level': {'start_date': '2017-04-19 21:00',
  'end_date': '2023-12-31 23:54'},
 'Verified Hourly Height Water Level': {'start_date': '2017-04-19 21:00',
  'end_date': '2023-12-31 23:00'},
 'Preliminary 6-Minute Water Level': {'start_date': '2016-10-21 20:00',
  'end_date': '2024-02-11 01:48'},
 'Wind': {'start_date': '2016-10-21 20:24', 'end_date': '2024-02-11 01:48'},
 'Verified Monthly Mean Water Level': {'start_date': '2017-05-01 00:00',
  'end_date': '2023-12-31 23:54'},
 'Air Temperature': {'start_date': '2016-10-21 20:24',
  'end_date': '2024-02-11 01:48'},
 'Water Temperature': {'start_date': '2016-10-21 20:24',
  'end_date': '2024-02-11 01:48'}}

In [8]:
df_verified_wl = chesapeake_channel.get_data(
    begin_date="20240210",
    end_date="20240211",
    product="water_level",
    datum="MLLW",
    units="metric",
    time_zone="gmt")

In [9]:
df_verified_wl

                         v      s        f  q
t
2024-02-10 00:00:00  1.070  0.029  1,0,0,0  p
2024-02-10 00:06:00  1.093  0.036  0,0,0,0  p
2024-02-10 00:12:00  1.115  0.036  0,0,0,0  p
2024-02-10 00:18:00  1.111  0.031  0,0,0,0  p
2024-02-10 00:24:00  1.111  0.029  1,0,0,0  p
...                    ...    ...      ... ..
2024-02-10 23:36:00  0.881  0.038  0,0,0,0  p
2024-02-10 23:42:00  0.897  0.033  1,0,0,0  p
2024-02-10 23:48:00  0.925  0.034  0,0,0,0  p
2024-02-10 23:54:00  0.961  0.039  0,0,0,0  p
2024-02-11 00:00:00  0.988  0.038  0,0,0,0  p

[241 rows x 4 columns]

In [10]:
chesapeake_channel.data_inventory

{'Verified High/Low Water Level': {'start_date': '2017-04-19 21:00',
  'end_date': '2023-12-31 23:54'},
 'Barometric Pressure': {'start_date': '2016-10-21 20:24',
  'end_date': '2024-02-11 01:48'},
 'Verified 6-Minute Water Level': {'start_date': '2017-04-19 21:00',
  'end_date': '2023-12-31 23:54'},
 'Verified Hourly Height Water Level': {'start_date': '2017-04-19 21:00',
  'end_date': '2023-12-31 23:00'},
 'Preliminary 6-Minute Water Level': {'start_date': '2016-10-21 20:00',
  'end_date': '2024-02-11 01:48'},
 'Wind': {'start_date': '2016-10-21 20:24', 'end_date': '2024-02-11 01:48'},
 'Verified Monthly Mean Water Level': {'start_date': '2017-05-01 00:00',
  'end_date': '2023-12-31 23:54'},
 'Air Temperature': {'start_date': '2016-10-21 20:24',
  'end_date': '2024-02-11 01:48'},
 'Water Temperature': {'start_date': '2016-10-21 20:24',
  'end_date': '2024-02-11 01:48'}}

In [11]:
sd_station = Station(id="9410170")

In [12]:
sd_station.get_data_inventory()

In [28]:
sd_station.lat_lon['lat'], sd_station.lat_lon['lon']

(32.715556, -117.176667)

In [29]:
stations = get_stations_from_bbox(lat_coords=[-90, 90], lon_coords=[-180, 180])

In [30]:
stations

['1611400',
 '1612340',
 '1612401',
 '1612480',
 '1615680',
 '1617433',
 '1617760',
 '1619910',
 '1630000',
 '1631428',
 '1770000',
 '1820000',
 '1890000',
 '2695535',
 '2695540',
 '8311030',
 '8311062',
 '8410140',
 '8411060',
 '8413320',
 '8418150',
 '8419870',
 '8443970',
 '8447386',
 '8447435',
 '8447636',
 '8447930',
 '8449130',
 '8452660',
 '8452944',
 '8454000',
 '8454049',
 '8461490',
 '8465705',
 '8467150',
 '8510560',
 '8516945',
 '8518750',
 '8518962',
 '8519483',
 '8531680',
 '8534720',
 '8536110',
 '8537121',
 '8539094',
 '8540433',
 '8545240',
 '8546252',
 '8548989',
 '8551762',
 '8551910',
 '8555889',
 '8557380',
 '8570283',
 '8571421',
 '8571892',
 '8573364',
 '8573927',
 '8574680',
 '8575512',
 '8577330',
 '8594900',
 '8631044',
 '8632200',
 '8635027',
 '8635750',
 '8636580',
 '8637689',
 '8638610',
 '8638901',
 '8639348',
 '8651370',
 '8652587',
 '8654467',
 '8656483',
 '8658120',
 '8658163',
 '8661070',
 '8665530',
 '8670870',
 '8679598',
 '8720030',
 '8720218',
 '8720219',
 '8720226',
 '8720357',
 '8721604',
 '8722670',
 '8722956',
 '8723214',
 '8723970',
 '8724580',
 '8725110',
 '8725520',
 '8726384',
 '8726520',
 '8726607',
 '8726674',
 '8726724',
 '8727520',
 '8728690',
 '8729108',
 '8729210',
 '8729840',
 '8735180',
 '8735391',
 '8735523',
 '8736897',
 '8737048',
 '8737138',
 '8738043',
 '8739803',
 '8741533',
 '8747437',
 '8760721',
 '8760922',
 '8761305',
 '8761724',
 '8761927',
 '8761955',
 '8762075',
 '8762482',
 '8764044',
 '8764227',
 '8764314',
 '8766072',
 '8767816',
 '8767961',
 '8768094',
 '8770475',
 '8770520',
 '8770613',
 '8770777',
 '8770808',
 '8770822',
 '8770971',
 '8771013',
 '8771341',
 '8771367',
 '8771450',
 '8771486',
 '8771972',
 '8772471',
 '8773037',
 '8773146',
 '8773259',
 '8773701',
 '8773767',
 '8774230',
 '8774770',
 '8775132',
 '8775222',
 '8775237',
 '8775241',
 '8775244',
 '8775283',
 '8775296',
 '8775792',
 '8776139',
 '8776604',
 '8777812',
 '8778490',
 '8779280',
 '8779748',
 '8779749',
 '8779770',
 '9014070',
 '9014080',
 '9014087',
 '9014090',
 '9014095',
 '9014098',
 '9034052',
 '9044020',
 '9044030',
 '9044036',
 '9044049',
 '9052000',
 '9052030',
 '9052058',
 '9052076',
 '9063007',
 '9063009',
 '9063012',
 '9063020',
 '9063028',
 '9063038',
 '9063053',
 '9063063',
 '9063079',
 '9063085',
 '9063090',
 '9075002',
 '9075014',
 '9075035',
 '9075065',
 '9075080',
 '9075099',
 '9076024',
 '9076027',
 '9076033',
 '9076060',
 '9076070',
 '9087023',
 '9087031',
 '9087044',
 '9087057',
 '9087068',
 '9087072',
 '9087077',
 '9087088',
 '9087096',
 '9099004',
 '9099018',
 '9099044',
 '9099064',
 '9099090',
 '9410170',
 '9410230',
 '9410660',
 '9410840',
 '9411340',
 '9412110',
 '9413450',
 '9414290',
 '9414523',
 '9414750',
 '9414863',
 '9415020',
 '9415102',
 '9415144',
 '9416841',
 '9418767',
 '9419750',
 '9431647',
 '9432780',
 '9435380',
 '9437540',
 '9439040',
 '9439099',
 '9439201',
 '9440083',
 '9440357',
 '9440422',
 '9440569',
 '9440581',
 '9440910',
 '9441102',
 '9442396',
 '9443090',
 '9444090',
 '9444900',
 '9445958',
 '9446484',
 '9447130',
 '9449424',
 '9449880',
 '9450460',
 '9451054',
 '9451600',
 '9452210',
 '9452400',
 '9452634',
 '9453220',
 '9454050',
 '9454240',
 '9455090',
 '9455500',
 '9455760',
 '9455920',
 '9457292',
 '9457804',
 '9459450',
 '9459881',
 '9461380',
 '9461710',
 '9462450',
 '9462620',
 '9463502',
 '9464212',
 '9468333',
 '9468756',
 '9491094',
 '9497645',
 '9751364',
 '9751381',
 '9751401',
 '9751639',
 '9752235',
 '9752619',
 '9752621',
 '9752695',
 '9753216',
 '9754229',
 '9755371',
 '9755968',
 '9757811',
 '9758066',
 '9759110',
 '9759394',
 '9759938']

In [ ]:
station = Station(id=stations[0])

In [ ]:
station_list = [Station(id=station_id) for station_id in stations]

In [ ]:
station.lat_lon['lat']

In [ ]:
station_list[0].lat_lon

In [ ]:
m = Basemap(
    projection="merc",
    llcrnrlat=-80,
    urcrnrlat=80,
    llcrnrlon=-180,
    urcrnrlon=180,
    lat_ts=20,
    resolution="c",
)

In [ ]:
m

In [ ]:
lats = [stat.lat_lon['lat'] for stat in station_list]
lons = [stat.lat_lon['lon'] for stat in station_list]

In [ ]:
x, y = m(lons, lats)

In [ ]:
m.drawcoastlines()
m.drawmapboundary()
m.scatter(x, y, marker='o', color='r')

In [ ]:
plt.show()