In [1]:
import sys
sys.path
backend_path = '../../backend'
if backend_path not in sys.path:
    sys.path.append(backend_path)

In [2]:

from noaa_coops import Station, get_stations_from_bbox
from sqlalchemy.orm import sessionmaker
from sqlalchemy import create_engine
from app.models.models import StationInventory
import requests

In [3]:

engine = create_engine("postgresql+psycopg2://airflow:airflow@localhost:5432/airflow")
Session = sessionmaker(bind=engine, autocommit=False, autoflush=False)

In [4]:
with Session() as db:
   ex_station_id = db.query(StationInventory.station_id).first()[0]

In [5]:
ex_station_id = str(ex_station_id)

In [6]:
ex_station_id

'8770613'

In [7]:

%timeit 
station = Station(id=ex_station_id)

In [8]:
station.get_data(
    begin_date="20240212 23:48",
    end_date="20240213 00:00",
    product="water_level",
    datum="MLLW",
    units="metric",
    time_zone="gmt").tail()

                         v      s        f  q
t
2024-02-12 23:48:00 -0.524  0.027  0,0,0,0  p
2024-02-12 23:54:00 -0.524  0.030  0,0,0,0  p
2024-02-13 00:00:00 -0.524  0.017  1,0,0,0  p

In [9]:
url = "https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?date=today&station=9447265&product=predictions&datum=MLLW&time_zone=lst&interval=hilo&units=english&application=DataAPI_Sample&format=json"

In [10]:
product = 'water_level'

In [11]:
datum = 'MLLW'

In [12]:
time_zone = 'gmt'

In [13]:
url = f'https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?date=latest&station={ex_station_id}&product={product}&datum={datum}&time_zone={time_zone}&units=metric&format=json'

In [14]:
%timeit requests.get(url)

129 ms ± 38.6 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

In [15]:
(184 * 300)

55200

In [16]:
data = requests.get(url)

In [17]:
data.json()

{'metadata': {'id': '8770613',
  'name': 'Morgans Point, Barbours Cut',
  'lat': '29.6817',
  'lon': '-94.9850'},
 'data': [{'t': '2024-02-16 10:36',
   'v': '-0.032',
   's': '0.065',
   'f': '0,0,0,0',
   'q': 'p'}]}

In [18]:
station_ids = db.query(StationInventory.station_id).all()

In [19]:
station_ids = [station[0] for station in station_ids]

In [20]:
station_ids

[8770613,
 1611400,
 1612340,
 1612401,
 1612480,
 1615680,
 1617433,
 1617760,
 1619910,
 1630000,
 1631428,
 1770000,
 1820000,
 1890000,
 2695535,
 2695540,
 8311030,
 8311062,
 8410140,
 8411060,
 8413320,
 8418150,
 8419870,
 8443970,
 8447386,
 8447435,
 8447636,
 8447930,
 8449130,
 8452660,
 8452944,
 8454000,
 8454049,
 8461490,
 8465705,
 8467150,
 8510560,
 8516945,
 8518750,
 8518962,
 8519483,
 8531680,
 8534720,
 8536110,
 8537121,
 8539094,
 8540433,
 8545240,
 8546252,
 8548989,
 8551762,
 8551910,
 8555889,
 8557380,
 8570283,
 8571421,
 8571892,
 8573364,
 8573927,
 8574680,
 8575512,
 8577330,
 8594900,
 8631044,
 8632200,
 8635027,
 8635750,
 8636580,
 8637689,
 8638610,
 8638901,
 8639348,
 8651370,
 8652587,
 8654467,
 8656483,
 8658120,
 8658163,
 8661070,
 8665530,
 8670870,
 8679598,
 8720030,
 8720218,
 8720219,
 8720226,
 8720357,
 8721604,
 8722670,
 8722956,
 8723214,
 8723970,
 8724580,
 8725110,
 8725520,
 8726384,
 8726520,
 8726607,
 8726674,
 8726724,
 8727520,
 8728690,
 8729108,
 8729210,
 8729840,
 8735180,
 8735391,
 8735523,
 8736897,
 8737048,
 8737138,
 8738043,
 8739803,
 8741533,
 8747437,
 8760721,
 8760922,
 8761305,
 8761724,
 8761927,
 8761955,
 8762075,
 8762482,
 8764044,
 8764227,
 8764314,
 8766072,
 8767816,
 8767961,
 8768094,
 8770475,
 8770520,
 8770777,
 8770808,
 8770822,
 8770971,
 8771013,
 8771341,
 8771367,
 8771450,
 8771486,
 8771972,
 8772471,
 8773037,
 8773146,
 8773259,
 8773701,
 8773767,
 8774230,
 8774770,
 8775132,
 8775222,
 8775237,
 8775241,
 8775244,
 8775283,
 8775296,
 8775792,
 8776139,
 8776604,
 8777812,
 8778490,
 8779280,
 8779748,
 8779749,
 8779770,
 9014070,
 9014080,
 9014087,
 9014090,
 9014095,
 9014098,
 9034052,
 9044020,
 9044030,
 9044036,
 9044049,
 9052000,
 9052030,
 9052058,
 9052076,
 9063007,
 9063009,
 9063012,
 9063020,
 9063028,
 9063038,
 9063053,
 9063063,
 9063079,
 9063085,
 9063090,
 9075002,
 9075014,
 9075035,
 9075065,
 9075080,
 9075099,
 9076024,
 9076027,
 9076033,
 9076060,
 9076070,
 9087023,
 9087031,
 9087044,
 9087057,
 9087068,
 9087072,
 9087077,
 9087088,
 9087096,
 9099004,
 9099018,
 9099044,
 9099064,
 9099090,
 9410170,
 9410230,
 9410660,
 9410840,
 9411340,
 9412110,
 9413450,
 9414290,
 9414523,
 9414750,
 9414863,
 9415020,
 9415102,
 9415144,
 9416841,
 9418767,
 9419750,
 9431647,
 9432780,
 9435380,
 9437540,
 9439040,
 9439099,
 9439201,
 9440083,
 9440357,
 9440422,
 9440569,
 9440581,
 9440910,
 9441102,
 9442396,
 9443090,
 9444090,
 9444900,
 9445958,
 9446484,
 9447130,
 9449424,
 9449880,
 9450460,
 9451054,
 9451600,
 9452210,
 9452400,
 9452634,
 9453220,
 9454050,
 9454240,
 9455090,
 9455500,
 9455760,
 9455920,
 9457292,
 9457804,
 9459450,
 9459881,
 9461380,
 9461710,
 9462450,
 9462620,
 9463502,
 9464212,
 9468333,
 9468756,
 9491094,
 9497645,
 9751364,
 9751381,
 9751401,
 9751639,
 9752235,
 9752619,
 9752621,
 9752695,
 9753216,
 9754229,
 9755371,
 9755968,
 9757811,
 9758066,
 9759110,
 9759394,
 9759938]

In [ ]:
import aiohttp
import asyncio

In [ ]:
urls = [f'https://api.tidesandcurrents.noaa.gov/api/prod/datagetter?date=latest&station={station_id}&product={product}&datum={datum}&time_zone={time_zone}&units=metric&format=json' for station_id in station_ids]

Event Loop already running in jupyter

In [ ]:
# async def fetch(session, url):
#     async with session.get(url) as response:
#         return await response.text()
        
# async def fetch_all(urls, loop):
#     async with aiohttp.ClientSession(loop=loop) as session:
#         results = await asyncio.gather(*[fetch(session, url) for url in urls], return_exceptions=True)
#         return results
    
# loop = asyncio.get_event_loop()
# data = loop.run_until_complete(fetch_all(urls, loop))

In [ ]:
from tqdm import tqdm

### Async vs sync

In [ ]:
def fetch(url):
    response = requests.get(url)
    return response.text

def fetch_all(urls):
    with requests.Session() as session:
        results = [fetch(url) for url in tqdm(urls)]
        return results

data = fetch_all(urls)

In [ ]:
async def fetch(session, url):
    async with session.get(url) as response:
        return await response.json()
        
async def fetch_all(urls):
    async with aiohttp.ClientSession() as session:
        results = await asyncio.gather(*[fetch(session, url) for url in tqdm(urls)], return_exceptions=True)
        return results
    
data = await fetch_all(urls)

In [ ]:
data[0]

In [ ]:
data

In [ ]:
kafka_messages = [
    {"id": item["metadata"]["id"], "time": entry["t"], "v": entry["v"]}
    for item in data
    for entry in item["data"]
]

In [ ]:
kafka_messages = [
    {"id": item["metadata"]["id"], "time": entry["t"], "v": entry["v"]}
    for item in data if "data" in item and "metadata" in item and "id" in item["metadata"]
    for entry in item["data"]
]

In [ ]:
kafka_messages